[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
bcrypt = "*"
passlib = "*"
uvicorn = "*"
psycopg2-binary = "*"
pydantic = {extras = ["email"], version = "*"}
asgi-ratelimit = {extras = ["redis"], version = "*"}
jinja2 = "*"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.9"
